<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caerang.sw_exhibition.mapper.project.ProjectMapper">

    <select id="projectList" resultType="ProjectListDto">
        SELECT proj_name, proj_developField, proj_image
        FROM project
    </select>

    <select id="projectDetail" parameterType="String" resultType="ProjectDto">
        SELECT proj_name, proj_content, proj_github, proj_developField
        FROM project WHERE proj_name = #{title}
    </select>

</mapper>