<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
  <div><a href="/">home</a></div>
  <br>
  <div><a href="/member/core">core member</a></div>
  <div><a href="/member/latte">latte member</a></div>
  <div><a href="/member/raon">raon member</a></div>
  <div><a href="/member/deep">deep member</a></div>
  <br>
  <div><a href="/project/web">web project</a></div>
  <div><a href="/project/app">app project</a></div>
  <div><a href="/project/ai">ai project</a></div>
  <div><a href="/project/game">game project</a></div>
  <div><a href="/project/embedded">embedded project</a></div>
</body>
</html>