<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" th:href="@{/static/images/caerang.png}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Roboto+Slab:wght@400;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" th:href="@{/static/css/style.css?v=1.4}">
  <script src="https://kit.fontawesome.com/9eb162ac0d.js" crossorigin="anonymous"></script>
  <script defer th:src="@{/static/js/main.js}"></script>
  <title>2021 씨애랑 | Member</title>
</head>

<body>
  <ul class="skipnavi">
    <li><a href="#team">본문내용</a></li>
  </ul>
  <nav id="navbar">
    <div class="navbar__logo">
      <img th:src="@{/static/images/logo.png}" alt="">
      <a th:href="@{/}">Caerang SW 전시회</a>
    </div>
    <ul class="navbar__menu">
      <a th:href="@{/team}">
        <li class="navbar__menu__item active">Team</li>
      </a>
      <a th:href="@{/project}">
        <li class="navbar__menu__item">Projects</li>
      </a>
      <a th:href="@{/guestbook}">
        <li class="navbar__menu__item">Guestbook</li>
      </a>
    </ul>

    <!-- Toggle button -->
    <button class="navbar__toggle-btn">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

  <section id="team" class="section">
    <div class="section__container">
      <h1 class="team__name" th:text="${team_info.teamName}"></h1>
      <h3>Member</h3>
      <div class="team__description">
        <p th:text="${team_info.teamDesc}"></p>
        <p th:text="${team_info.teamLeader}"></p>
      </div>

      <div class="team__member">
        <span th:each="mem : ${mem_list}">
          <a th:href="${mem.mem_github}" class="member" target="blank">
            <img th:src="@{/static/images/member_icon2.png}" alt="" class="member__img">
            <div class="member__description">
            </div>
            <div class="member__desc">
              <h3 th:text="${mem.mem_name}"></h3>
              <p><span th:text="${mem.mem_major}"></span><br><span th:text="${mem.mem_grade} + '학년'"></span></p>
            </div>
          </a>
        </span>
      </div>

    </div>
  </section>

  <!-- Arrow up -->
  <button class="arrow-up">
    <i class="fas fa-arrow-up"></i>
  </button>

</body>

</html>