<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" th:href="@{/static/images/caerang.png}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Roboto+Slab:wght@400;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" th:href="@{/static/css/style.css?v=1.4}">
  <script src="https://kit.fontawesome.com/9eb162ac0d.js" crossorigin="anonymous"></script>
  <script defer th:src="@{/static/js/main.js}"></script>
  <title>2021 씨애랑 | project_description</title>
</head>

<body>
  <ul class="skipnavi">
    <li><a href="#project__desc">본문내용</a></li>
  </ul>
  <!-- Navbar -->
  <nav id="navbar">
    <div class="navbar__logo">
      <img th:src="@{/static/images/logo.png}" alt="">
      <a th:href="@{/}">Caerang SW 전시회</a>
    </div>
    <ul class="navbar__menu">
      <a th:href="@{/team}">
        <li class="navbar__menu__item active">Team</li>
      </a>
      <a th:href="@{/project}">
        <li class="navbar__menu__item">Projects</li>
      </a>
      <a th:href="@{/guestbook}">
        <li class="navbar__menu__item">Guestbook</li>
      </a>
    </ul>

    <!-- Toggle button -->
    <button class="navbar__toggle-btn">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

  <section id="project__desc" class="section">
    <div class="project__desc__container">

      <div class="project__info">
        <div class="project__name">
          <h4>
            <span th:text="${proj_desc.proj_name}"></span>
            <br><br>
            <a th:href="${proj_desc.proj_github}" target="_blank">
              <span th:text="${proj_desc.proj_github}"></span>
            </a>
          </h4>
        </div>
        <div class="division__line"></div>
        <div class="student__info">
          <span th:each="mem : ${mem_list}">
            <h4>
              <span th:text="${mem.mem_major} + ' '"></span>
              <span th:text="${mem.mem_grade} + '학년 '"></span>
              <span th:text="${mem.mem_name} + ' / '"></span>
              <span th:text="${mem.mem_team}"></span>
            </h4>
          </span>
        </div>
      </div>

      <div class="project__detail" th:utext="${proj_desc.proj_content}">

      </div>

    </div>
  </section>

  <!-- Arrow up -->
  <button class="arrow-up">
    <i class="fas fa-arrow-up"></i>
  </button>

</body>

</html>