<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/main.js" defer></script>
  <title>팀 소개</title>
</head>
<body>
  <!-- 메인 페이지 시작 (팀 별로 구분) -->
  <div class="main_pc">
    <ul class="main_menu">
      <!-- 팀 라온 -->
      <li>
        <div class="bgimg">
          <img src="../static/images/raon.jpg" alt="">
        </div>
        <a href="/team/raon">
          <img src="../static/images/raon-text.png" alt="">
        </a>
        <div class="white_mask"></div>
      </li>
      <!-- 팀 라떼 -->
      <li>
        <div class="bgimg">
          <img src="../static/images/latte.jpg" alt="">
        </div>
        <a href="/team/latte">
          <img src="../static/images/latte-text.png" alt="">
        </a>
        <div class="white_mask"></div>
      </li>
      <!-- 팀 코어 -->
      <li>
        <div class="bgimg">
          <img src="../static/images/core.jpg" alt="">
        </div>
        <a href="/team/core">
          <img src="../static/images/core-text.png" alt="">
        </a>
        <div class="white_mask"></div>
      </li>
      <!-- 팀 딥러닝 -->
      <li>
        <div class="bgimg">
          <img src="../static/images/tag.jpg" alt="">
        </div>
        <a href="/team/deeplearning">
          <img src="../static/images/tag-text.png" alt="">
        </a>
      </li>
    </ul>
  </div>
</body>
</html>