/* 웹 접근성을 위한 skipnavi */
.skipnavi {
  position: absolute;
  left: 0;
  top: -50;
  text-indent: -9999px;
  font-size: 0;
  width: 100%;
  z-index: 999;
}

.skipnavi > li > a:focus,
.skipnavi > li > a:active {
  position: absolute;
  left: 0;
  top: 50px;
  display: block;
  width: 100%;
  padding: 5px;
  text-align: center;
  text-indent: 0;
  font-size: 12px;
  font-weight: bold;
  background: #f2f2f2;
}

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font: "Oswald", sans-serif;
  /* font-family: "Jua", sans-serif; */
  margin: 0;
  cursor: default;
  /* background-color: var(--color-white); */
  background-color: #111;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 4px 0;
}

textarea {
  resize: none;
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Navbar */
#wrap {
  overflow: auto;
  overflow: scroll;
}

#navbar {
  /*position: absolute;*/
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-image: linear-gradient(180deg, #a1c4fd 0%, #c2e9fb 100%); */
  background-color: transparent;
  background-color: #000;
  align-items: center;
  color: var(--color-white);
  transition: var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  /* background-color: lightslategrey; */
  background-color: rgb(238, 081, 000);
  padding: 8px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  display: flex;
  padding-left: 25px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__logo img {
  padding-right: 10px;
  width: 50px;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
  font-size: 18px;
}

.navbar__menu__item:hover {
  /*border-color: #313130;*/
  background-color: #000;
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  display: none;
}

/* index.html */
#main ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  left: 0;
  top: 0;
}
.main_pc {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.main_pc .main_menu {
  position: relative;
  height: 100%;
  padding: 0;
}
.main_pc .main_menu li {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  width: calc(25%);
}
.main_pc .main_menu li .bgimg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}
.main_pc .main_menu li .bgimg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main_pc .main_menu li > a {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main_pc .main_menu li:hover > a {
  background: rgba(0, 0, 0, 0);
}
.main_pc .main_menu li > a img {
  width: 100%;
}

/* project.html */
#work {
  padding-top: 130px;
}

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 2px solid #313130;
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
  /* background-color: white; */
  color: var(--color-white);
}

.category__btn.selected,
.category__btn:hover {
  background-color: rgb(238, 081, 000);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translate(40px);
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  /* background-image: linear-gradient(180deg, #a1c4fd 0%, #c2e9fb 100%); */
  background-color: #000;
  /* border: 1px solid var(--color-dark-white); */
  /* border: 2px solid rgb(238, 081, 000); */
  border-radius: var(--size-border-radius);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: rgb(238, 081, 000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  /* color: var(--color-black); */
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* member.html */
#team {
  padding-top: 130px;
}

.team__description {
  border: 2px solid rgb(238, 081, 000);
  padding: 20px;
  margin: 30px;
}

.team__member {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.team__member .member {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  /* border: 2px solid rgb(238, 081, 000); */
  border-radius: var(--size-border-radius);
  /* background-image: linear-gradient(180deg, #a1c4fd 0%, #c2e9fb 100%); */
  background-color: var(--color-black);
}

.member__img {
  position: absolute;
  top: 15px;
  filter: invert(100%);
}

.member__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.member__desc {
  position: absolute;
  bottom: 25px;
}

.member:hover .member__description {
  opacity: 0.78;
  transform: translateY(0px);
  background-image: url("/static/images/github.png");
  background-position: center;
  background-color: rgb(238, 081, 000);
}

/* project_description */

#project__desc {
  padding-top: 130px;
}

.project__desc__container {
  margin: auto;
  max-width: 1000px;
}

.project__info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* border: 2px solid rgb(238, 081, 000); */
  border-radius: var(--size-border-radius);
}

.project__name {
  text-align: left;
  color: var(--color-white);
}

.project__name h4 a span {
  color: rgb(238, 081, 000);
}

.division__line {
  position: absolute;
  left: 50%;
  height: 120px;
  border: 1px solid black;
  border-radius: var(--size-border-radius);
}

.student__info {
  text-align: left;
  color: var(--color-white);
}

.student__info h4:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 80%;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: rgb(238, 081, 000);
}

.project__detail {
  margin-top: 40px;
  padding: 20px;
  border: 2px solid rgb(238, 081, 000);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
}

.project__detail img {
    display: block;
    margin: 0 auto;
    width: 600px;
    height: auto;
    max-width: 950px;
    max-height: 500px;
}

.project__detail a {
  color: rgb(238, 081, 000);
}

/* guestbook */
.guest {
  width: 30%;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #f1f0f7; */
  background-color: #111;
  border: 2px solid rgb(238, 081, 000);
  border-radius: 20px;
  /* -webkit-box-shadow: 9px 11px 5px 0px rgba(125, 124, 125, 1);
  -moz-box-shadow: 9px 11px 5px 0px rgba(125, 124, 125, 1);
  box-shadow: 9px 11px 5px 0px rgba(125, 124, 125, 1); */
}

.guestbook__title {
  text-align: center;
  height: 48px;
  padding: 8px;
  font-size: 24px;
  /* background-image: linear-gradient(360deg, #a1c4fd 0%, #c2e9fb 100%); */
  border-radius: 20px 20px 0 0;
  color: white;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  /* background-image: linear-gradient(360deg, #a1c4fd 0%, #c2e9fb 100%); */
  background-color: #111;
  border-radius: 0 0 20px 20px;
}

#writer {
  width: 90%;
  height: 32px;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 16px;
  margin: 10px;
  text-align: center;
  color: #fff;
  background-color: #111;
  border: solid 1px #313130;
}

#content {
  width: 90%;
  height: 100px;
  border: none;
  outline: none;
  font-size: 24px;
  padding: 16px;
  margin: 10px;
  font-size: 12px;
  white-space: normal;
  background-color: #111;
  border: solid 1px #313130;
  color: #fff;
}

.input-btn {
  width: 48px;
  height: 48px;
  font-size: 28px;
  /* background-color: var(--color-white); */
  border-radius: 50%;
  color: var(--color-white);
  transition: transform 300ms ease-in;
}

.input-btn:hover {
  transform: scale(1.1);
}

.text-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  width: 80%;
  margin: 30px auto;
}

.text {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 10px;
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 10px;
  color: var(--color-white);
  /* background-color: lightcyan; */
  background-color: #111;
  border-radius: var(--size-border-radius);
  border: 2px solid rgb(238, 081, 000);
  /* -webkit-box-shadow: 9px 11px 5px 0px rgba(125, 124, 125, 1);
  -moz-box-shadow: 9px 11px 5px 0px rgba(125, 124, 125, 1);
  box-shadow: 9px 11px 5px 0px rgba(125, 124, 125, 1); */
}

.text .text__writer {
  word-break: break-all;
  font-size: 14px;
}

.text .text__content {
  word-break: break-all;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
}

.text .now_time {
  position: absolute;
  text-align: right;
  right: 10px;
  bottom: 5px;
  font-size: 8px;
}

.text .text__writer:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Arrow up */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: rgb(238, 081, 000);
  /* background-color: var(--color-grey); */
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* ------------------------------------------------------------------- */

/* 갤럭시 탭, 아이패드등 (태블릿) */

@media all and (max-width: 1065px) and (min-width: 801px) {
  .section {
    padding-top: 70px;
  }

  /* Navbar */
  #wrap {
    overflow: auto;
    overflow: scroll;
  }

  .navbar__toggle-btn {
    display: block;
    top: 24px;
    right: 26px;
    font-size: 30px;
    color: white;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-black);
  }

  #navbar.navbar--dark {
    /* background-image: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%); */
    background-color: rgb(238, 081, 000);
    padding: 0px;
  }

  .navbar__logo {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 25px;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
  }

  .navbar__logo img {
    padding-right: 10px;
    width: 50px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  /* index.html */
  .first__page {
    text-align: center;
  }

  .link-btn {
    padding: 30px;
    /* display: flex; */
    /* flex-direction: column; */
  }

  .open-btn {
    padding: 3px;
  }

  /* team.html */
  .main_pc .main_menu li {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    height: calc(25%);
  }

  /* member.html */
  #team {
    padding-top: 80px;
  }

  /* project.html */
  #work {
    padding-top: 80px;
  }

  .category__btn {
    margin: 4px 0;
    width: 100%;
  }

  /* project_description */
  #project__desc {
    padding: 80px 30px 30px 30px;
  }

  .project__info {
    display: flex;
    flex-direction: column;
  }

  .division__line {
    display: none;
  }

  .project__name {
    text-align: center;
  }
  .student__info {
    text-align: center;
  }
  .student__info h4:after {
    content: "";
    display: block;
    position: relative;
    left: 50%;
    width: 30%;
    height: 2px;
    transform: translateX(-50%);
    margin-top: 8px;
    background-color: var(--color-light-white);
  }

    .project__detail img {
        max-width: 600px;
    }

  /* guestbook */
  .guest {
    width: 50%;
  }
}

/* ------------------------------------------------------------------- */

/* 안드로이드, 아이폰 (일반폰) */
@media all and (max-width: 800px) and (min-width: 300px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .section {
    padding-top: 50px;
  }

  /* Navbar */
  #wrap {
    overflow: auto;
    overflow: scroll;
  }

  .navbar__toggle-btn {
    display: block;
    top: 25px;
    right: 26px;
    font-size: 25px;
    color: white;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-black);
  }

  #navbar.navbar--dark {
    /* background-image: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%); */
    background-color: rgb(238, 081, 000);
    padding: 0px;
  }

  .navbar__logo {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 25px;
    font-size: 22px;
    font-weight: var(--weight-semi-bold);
  }

  .navbar__logo img {
    padding-right: 10px;
    width: 50px;
  }

  .navbar__logo a {
    padding-top: 5px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  /* index.html */
  .first__page {
    text-align: center;
  }

  .link-btn {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }

  .open-btn {
    padding: 3px;
  }

  /* team.html */
  .main_pc .main_menu li {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    height: calc(25%);
  }

  /* member.html */
  #team {
    padding-top: 80px;
  }

  /* project.html */
  #work {
    padding-top: 80px;
  }

  .category__btn {
    margin: 4px 0;
    width: 100%;
  }

  /* project_description */
  #project__desc {
    padding: 80px 30px 30px 30px;
  }

  .project__info {
    display: flex;
    flex-direction: column;
  }

  .division__line {
    display: none;
  }

  .project__name {
    text-align: center;
  }
  .student__info {
    text-align: center;
  }
  .student__info h4:after {
    content: "";
    display: block;
    position: relative;
    left: 50%;
    width: 60%;
    height: 2px;
    transform: translateX(-50%);
    margin-top: 8px;
    background-color: var(--color-light-white);
  }

    .project__detail img {
        max-width: 270px;
    }

  /* guestbook */
  .guest {
    margin-top: 100px;
    width: 75%;
  }
}


