<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caerang.sw_exhibition.mapper.member.MemberMapper">

    <select id="memberListOfTeam" parameterType="String" resultType="MemberOfTeamDto">
        SELECT mem_name, mem_grade, mem_github, mem_major
        FROM member
        WHERE mem_team = #{team}
    </select>

    <select id="memberListOfProject" parameterType="String" resultType="MemberOfProjectDto">
        SELECT mem.mem_name, mem.mem_team, mem.mem_grade, mem.mem_major
        FROM member AS mem LEFT JOIN proj_of_mem AS pom
        ON mem.mem_id = pom.mem_id
        WHERE pom.proj_name = #{title}
    </select>

</mapper>